<mat-spinner *ngIf='spinner' class="spinner"></mat-spinner>
<app-breadcrumbs *ngIf="breadcrumb" [ruta]="breadcrumb"></app-breadcrumbs>
<header-tipoobjeto-automovil [idTipoObjeto]="idTipoObjeto" [idClase]="idClase"></header-tipoobjeto-automovil>
<br />
<mat-card class='cardMarginBottom' *ngIf='!spinner'>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div *ngFor="let objeto of modulo.camposClase" style="display: inline;">
                <img *ngIf="objeto.nombre=='LogoCard'" class='imagenIconoGris' [src]="objeto.path">
                <span *ngIf="objeto.nombre=='LogoCard'">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div *ngFor="let objeto of modulo.camposClase" style="display: inline;">
                <span *ngIf="objeto.nombre=='TituloCard'">{{objeto.label}}</span>
            </div>
        </div>
    </div>
    <hr>
    <app-grid-component *ngIf="partidas" [datos]="partidas" [gridOptions]="gridOptions" [columns]="columns"
        [columnHiding]="columnHiding" [Checkbox]="Checkbox" [Editing]="Editing" [Columnchooser]="Columnchooser"
        [exportExcel]="exportExcel" [searchPanel]="searchPanel" [scroll]="scroll"
        (messageEvent)="receiveMessage($event)" (datosevent)='datosMessage($event)' [toolbar]="toolbar">
    </app-grid-component>
</mat-card>