@import "assets/base";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*  ----------------------- Section ------------------------- 
    Colores de texto
----------------------- Section -------------------------  */
.textoAzul {
  color: #027bff;
}
.textoGris {
  color: #7b8289;
}

.textoNegro {
  color: #000 !important;
}

.textoMorado {
  color: #794c8a !important;
}

/*  ----------------------- End-Section ------------------------- 
    Colores de texto
----------------------- End-Section -------------------------  */

/*  ----------------------- Section ------------------------- 
    Tarjetas que se encuentran en comisiones
----------------------- Section -------------------------  */
.top0 {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.bottom10 {
  margin-bottom: 10px !important;
  padding: 0;
}
.bottom0 {
  margin-bottom: 0 !important;
  padding: 0;
}

.descMonto {
  font-size: 12px;
  font-weight: 500;
}

/*  ----------------------- End-Section ------------------------- 
    Tarjetas que se encuentran en comisiones
----------------------- End-Section -------------------------  */

/*  ----------------------- Section ------------------------- 
    Tarjeta en lista para alineación de propiedad y valor proporcional al tamaño del objeto
----------------------- Section -------------------------  */
.listaMontos {
  list-style: none;
}

.listaMontos li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}

.Top-Rigt {
  position: absolute;
  top: 10px;
  right: 35px;
}

.listaMontos li .descMonto {
  max-width: 48%;
}

.listaMontos li .monto {
  font-size: 16px;
}

.chip {
  width: 120px;
}

/*  ----------------------- Section ------------------------- 
    Tarjeta en lista para alineación de propiedad y valor proporcional al tamaño del objeto
----------------------- Section -------------------------  */

// quita el paddin de los col's de bootstrap
.sinPadd {
  padding: 0 5px;
}

@media (max-width: 768px) {
  .sinPadd {
    padding: 5px;
  }
}

.TarjetaLarge {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
}

// Estilo general para Spinner de Material
.spinner {
  position: fixed !important;
  top: 50% !important;
  right: 0!important;
  left: 0!important;
  margin-right: auto!important;
  margin-left: auto!important;
  z-index: 50 !important;
}

// Desactiva la funcionalidad de la pantalla mientras se cargan los datos obtenidos de la Base de datos
.desactivaPantalla {
  pointer-events: none;
  opacity: 0.4;
}

// Ajusta el tamaño de los iconos grises
.imagenIconoGris {
  width: 40px;
  height: 38px;
}

// Configura al 100% los input de Angular Material
.inputFullWide {
  width: 100% !important;
}

.columns {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.tabla:after {
  content: "";
  display: table;
  clear: both;
}

.contene.vdivide [class*="col-"]:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

// Asigna 20 pixeles al margin-bottom para separar las Cards
.cardMarginBottom {
  margin-bottom: 20px;
}

// Asigna color y tamaño al aviso de que campos son requeridos a llenar
.tagAviso {
  font-size: 15px;
  color: gray;
}

// Estilo para los titulos de los campos del formulario dinamico: "ej: Nombre de grupo * "
.titulo-input-dinamico {
  color: #b9b9b9;
}
// Color del texto en caso de error, el color es igual al de material.
.text-error {
  color: #f44336;
}

// Margen superior en el boton submit de formularios
.submit-form {
  margin-top: 20px;
}

.multiselect-dropdown {
  height: 37px;
  .dropdown-btn {
    height: 37px;
  }
}

.dropdown-mega-menu-sm {
  max-width: 100%;
}

.app-footer .app-footer__inner .app-footer-right {
  display: flex !important;
}

.app-footer,
.app-footer .app-footer__inner {
  min-height: 60px !important;
  height: inherit !important;
}

.bloquearCierreDiv {
  background-color: #0000007d;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 49;
  top: 0;
  left: 0;
}

.footerselect {
  background-color: transparent;
  border: transparent;
  color: #28a745;
}

.footerselect:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

app-footer-menu p,
app-footer-menu select {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
