<div class="app-main__inner">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Dashboard Ventas</h5>
                <button class="mb-2 mr-2 btn btn-outline-2x btn-outline-primary">Ventas</button>
                <button class="mb-2 mr-2 btn btn-outline-2x btn-outline-secondary">Cobros</button>
                <button routerLink="/clientes" class="mb-2 mr-2 btn btn-outline-2x btn-outline-success">Clientes</button>
            </div>
        </div>
    </div>
</div>