<div class="" [ngClass]="{'desactiva': loading }">
    <mat-spinner *ngIf='loading' class="spinner"></mat-spinner>
    
    <app-breadcrumbs *ngIf="breadcrumb" [ruta]="breadcrumb" ></app-breadcrumbs>

    <div>
        <mat-card>
            
            <app-grid-component *ngIf='!loading' [datos]="disposiciones" [gridOptions]="gridOptions" [columns]="columns" [exportExcel]="exportExcel"
                [columnHiding]="columnHiding" [Checkbox]="Checkbox" [Editing]="Editing" [Columnchooser]="Columnchooser"
                [searchPanel]="searchPanel" [scroll]="scroll" [toolbar]="toolbar" (editevent)="editevent($event)" (datosevent)='datosMessage($event)'>
            </app-grid-component>


        </mat-card>
    </div>
</div>