<div class="app-main__inner">
  <div class="col-md-12">
      <div class="main-card mb-3 card">
          <div class="card-body">
              <h5 class="card-title">Home Proveedores</h5>
              <button class="mb-2 mr-2 btn btn-outline-2x btn-outline-primary">Cuentas por cobrar</button>
              <button class="mb-2 mr-2 btn btn-outline-2x btn-outline-secondary">Cuentas pagadas</button>
              <button routerLink="/proveedor" class="mb-2 mr-2 btn btn-outline-2x btn-outline-success">Proveedores</button>
          </div>
      </div>
  </div>
</div>