.objetos{
    background-image: url("../../assets/images/iconos-sisco/configurador.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: white !important;
    background-size: 45px 40px !important;
}
    
small{
    color: #B9B9B9; 
}

.desactiva{
    pointer-events: none;
    opacity: 0.4;
}

.imagen{
    width: 40px;

}

.imagenLogo{
    width: 60px;
    height: 65px;
    padding-bottom: 13px;
}

.colorRuta{
    color: black;
}

.colorRuta2{
    font-size: 30px;
}

.cardMargin{
    margin-bottom: 20px;
}

.all{
    width: 100%;
}

::ng-deep .dx-field-value{
    float: none;
    width: 100% !important;
    padding-bottom: 20px;
}

.error{
    color: red !important;
}


::ng-deep .dx-tree-view_scroll {
    height: 230px !important;
 }

.mat-expansion-panel{
    padding: 0px 0px 0px 0px !important;
    box-shadow: 0px 0 3px -2px #ffffff, -6px 0 4px -3px #fff;
}

::ng-deep .mat-expansion-panel-body{
    padding: 0px 0px 0px 0px !important;
}

::ng-deep .color > div .mat-form-field-infix{
    padding: 1px 0px 0px 0px !important;
}

::ng-deep .dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input{
    background: #EAF0FF!important;
    }
   
::ng-deep .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item {
background-color: transparent!important;
}

::ng-deep .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item:hover {
background-color: #d6e0fb!important;
}

::ng-deep .dx-treeview .dx-treeview-node .dx-treeview-item:hover {
background-color: #d6e0fb!important;
}

::ng-deep .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item * {
color: black!important;
}

::ng-deep .dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-item {
background-color: #d6e0fb!important;
}

::ng-deep .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
background-color: #d6e0fb !important;
}

::ng-deep .dx-texteditor-input{
background-color: #EAF0FF!important;
}

  
::ng-deep #blueversion .mat-form-field-underline {
    background: #3f51b5;
  }
  ::ng-deep #blueversion .mat-select-arrow {
    color: #3f51b5;
  }
  #bluemat {
    background: white;
  }
  #bluemat:hover {
    background: #d6e0fb;
  }
  #bluemat.mat-active {
    background: #d6e0fb !important;
  }
  #bluemat.mat-selected {
    background: #d6e0fb !important;
    color: black !important;
  }