<div >
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Dashboard Objetos</h5>
                <button routerLink="/sel-objeto" class="mb-2 mr-2 btn btn-outline-2x btn-outline-primary">
                    {{label}}
                </button>
                <button routerLink="/sel-operador" class="mb-2 mr-2 btn btn-outline-2x btn-outline-secondary">Operador</button>
                <button class="mb-2 mr-2 btn btn-outline-2x btn-outline-success">Seguro</button>
            </div>
        </div>
    </div>
</div>