<div>
    <mat-spinner *ngIf='numero == 0' class="spinner"></mat-spinner>
    <!-- <app-breadcrumbs urlImagen='./assets/images/iconos-sisco/clientes.png' [ruta]='ruta'></app-breadcrumbs> -->
    <app-breadcrumbs *ngIf="breadcrumb" [ruta]="breadcrumb"></app-breadcrumbs>
    <div [ngClass]="{'desactivaPantalla': numero == 0 }">
        <mat-card class="cardMarginBottom">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <img class='imagenIconoGris' src="./assets/images/iconos-sisco/Clientes/sh_datoscliente.png">
                    &nbsp;&nbsp;&nbsp;
                    <span>Datos del cliente</span>
                </div>
            </div>
            <hr>
            <div [formGroup]="clienteForm">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <small class="titulo-input-dinamico">Foto</small>
                        <app-file-upload-component *ngIf='band === false' [IUploadFile]="IUploadFile"
                            (messageEvent)="ResultUploadFile($event)">
                        </app-file-upload-component>
                        <app-file-upload-component *ngIf='band' [IUploadFile]="IUploadFile"
                            (messageEvent)="ResultUploadFile($event)">
                        </app-file-upload-component>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="inputFullWide">
                            <input matInput maxlength="250" formControlName="nombre" value="{{cliente?.nombre}}"
                                placeholder="Nombre cliente *">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12 text-center">
                        <button class="mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-primary float-right"
                            (click)='actualizaCliente()' [disabled]="!clienteForm.valid">
                            <i class="pe-7s-diskette btn-icon-wrapper">
                            </i>
                            Modificar
                        </button>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="cardMarginBottom">
            <div class="row cardMargin">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <img class='imagenIconoGris' src="./assets/images/iconos-sisco/Clientes/sh_datosfiscales.png">
                        &nbsp;&nbsp;&nbsp;
                        <span>Listado de datos fiscales</span>
                        <hr>
                    </div>
                </div>
            </div>
            <app-grid-component [datos]="cienteEntidad" [columns]="columns"
                [exportExcel]="exportExcel" [columnHiding]="columnHiding" [Checkbox]="Checkbox" [Editing]="Editing"
                [Columnchooser]="Columnchooser" (datosevent)='datosMessage($event)' [searchPanel]="searchPanel"
                [scroll]="scroll" (messageEvent)="receiveMessage($event)" [toolbar]="toolbar">
            </app-grid-component>
        </mat-card>

        <mat-card>
            <div class="row cardMargin">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <img class='imagenIconoGris' src="./assets/images/iconos-sisco/Clientes/sh_documentos.png">
                        &nbsp;&nbsp;&nbsp;
                        <span>Documentos</span>
                        <hr>
                    </div>
                </div>
            </div>
            <!-- <app-grid-component [datos]="doctosName" [gridOptions]="gridOptions" [columns]="columDoc" [exportExcel]="exportExcel" (datosevent)='datosMessage($event)' [searchPanel]="searchPanel" [scroll]="scroll" (messageEvent)="receiveMessageDoc($event)" [toolbar]="toolbarDoc">
            </app-grid-component> -->
            <app-viewer [IViewer]="IViewer2" (datosevent)='datosMessage($event)'
                (messageEvent)="receiveMessageDoc($event)" [doc]="doc" [total]="total" [documentosgrid]="documento">
            </app-viewer>
        </mat-card>
    </div>
</div>