.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    height: 100%;
    background-size: cover;
}

.img-footer{
    width: 30%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text-footer{
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-titulo{
    margin-top: 10%;
    font-size: 37px;
    font-weight: bold;
    color: #1740af;
    margin-bottom: -10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-subtitulo{
    font-size: 24px;
    color: #1740af;
    margin-top: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


@media screen and (min-width: 1024px) {
    
    .text-titulo{
        font-size: 29px;
    }
    
    .text-subtitulo{
        font-size: 20px;
    }
      }

 @media screen and (min-width: 1366px) {
    
    .text-titulo{
        font-size: 37px;
    }
    
    .text-subtitulo{
        font-size: 24px;
    }
      }


@media screen and (min-width: 1440px) {
    
    .text-titulo{
        font-size: 42px;
    }
    
    .text-subtitulo{
        font-size: 29px;
    }
      }



@media screen and (min-width: 1920px) {
    
.text-titulo{
    font-size: 50px;
}

.text-subtitulo{
    font-size: 34px;
}
  }