<mat-spinner *ngIf='spinner' class="spinner"></mat-spinner>
<div class="app-container app-theme-white body-tabs-shadow" style="overflow: hidden">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <div class="mx-auto app-login-box col-sm-12 col-md-8 col-lg-6">
                        <div><img style="width:100px" src="../../assets/images/iconos-sisco/logo-sisco-azul.png"></div>
                        <h4>
                            <div>¿Olvidaste tu contraseña?</div>
                            <span>Utilice el formato siguiente para recuperar su contraseña.</span>
                        </h4>
                        <div [ngClass]="{'desactivaPantalla': spinner }">
                            <div [formGroup]="correoForm">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="position-relative form-group">
                                            <label for="exampleEmail" class="">Correo electrónico</label>
                                            <mat-form-field class="inputFullWide">
                                                <input matInput placeholder="Introduzca su correo"
                                                    formControlName="correo">
                                                <mat-error>
                                                    Por favor, dar un correo electrónico válido
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-4 d-flex align-items-center">
                                    <h6 class="mb-0"><a routerLink="/login" class="text-primary">Iniciar sesión con una
                                            cuenta existente</a></h6>
                                    <div class="ml-auto">
                                        <button class="btn btn-primary btn-lg" [disabled]="!correoForm.valid"
                                            (click)='validaUsuario()'>Recuperar
                                            Contraseña</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4">
                    <div class="slider-light">
                        <div class="slick-slider">
                            <div>
                                <div class="position-relative h-100 d-flex justify-content-center align-items-center"
                                    tabindex="-1">
                                    <div class="slide-img-bg" *ngIf="imagen==1"
                                    style="background-image: url('assets/images/login-fondo1.png');">
                                    <div class="row" style="height: 100%">
                                        <div class="col-lg-12 col-xl-12 align-self-start">
                                            <div class="row">
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-10 col-xl-10">
                                                    <p class="text-titulo">Sistema de Control de Operaciones</p>
                                                </div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-10 col-xl-10">
                                                    <p class="text-subtitulo">Una plataforma integral</p>
                                                </div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 align-self-end">
                                            <div class="row no-gutters" style="margin-bottom: 10px">
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/multiplataforma.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Multiplataforma</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/supervision.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Supervisión</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/reportes.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Reportes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-img-bg" *ngIf="imagen==2"
                                    style="background-image: url('assets/images/login-fondo2.png');">
                                    <div class="row" style="height: 100%">
                                        <div class="col-lg-12 col-xl-12 align-self-start">
                                            <div class="row">
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-10 col-xl-10">
                                                    <p class="text-titulo">Sistema de Control de Operaciones</p>
                                                </div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-10 col-xl-10">
                                                    <p class="text-subtitulo">Una plataforma integral</p>
                                                </div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 align-self-end">
                                            <div class="row no-gutters" style="margin-bottom: 10px">
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/multiplataforma.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Multiplataforma</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/supervision.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Supervisión</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/reportes.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Reportes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-img-bg" *ngIf="imagen==3"
                                    style="background-image: url('assets/images/login-fondo3.png');">
                                    <div class="row" style="height: 100%">
                                        <div class="col-lg-12 col-xl-12 align-self-start">
                                            <div class="row">
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-10 col-xl-10">
                                                    <p class="text-titulo">Sistema de Control de Operaciones</p>
                                                </div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                                <div class="col-lg-10 col-xl-10">
                                                    <p class="text-subtitulo">Una plataforma integral</p>
                                                </div>
                                                <div class="col-lg-1 col-xl-1"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 align-self-end">
                                            <div class="row no-gutters" style="margin-bottom: 10px">
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/multiplataforma.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Multiplataforma</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/supervision.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Supervisión</p>
                                                </div>
                                                <div class="col-lg-4">
                                                    <img src="../../../assets/images/reportes.png"
                                                        class="img-footer">
                                                    <p class="text-footer">Reportes</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>