.autocomplete-md-6 {
    width: 100% !important;
  }

  .buttonTabConverter {
    border-top-color:brown !important;
  }

  .blueColorTable {
    border-block: 1px;
    border-block-color: #000000;
  }

  .prices-color{
    color: #3F6AD8;
  }

  .mat-button-toggle-checked{
    background-color: #3f6ad8;
    color: #fff !important;
  }

.mat-button-toggle-appearance-standard{
  color: #3f6ad8;
}

.main td
{
  border: 1px solid #0a9fe6;
  padding: 15px;
}

::ng-deep .dx-dropdowneditor-button-visible.dx-show-clear-button .dx-texteditor-input{
  background: #EAF0FF!important;
  }
  
  ::ng-deep .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item {
  background-color: transparent!important;
  }
  
  ::ng-deep .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item:hover {
  background-color: #d6e0fb!important;
  }
  
  ::ng-deep .dx-treeview .dx-treeview-node .dx-treeview-item:hover {
  background-color: #d6e0fb!important;
  }
  
  ::ng-deep .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item * {
  color: black!important;
  }
  
  ::ng-deep .dx-treeview-item-without-checkbox.dx-state-selected > .dx-treeview-item {
  background-color: #d6e0fb!important;
  }
  
  ::ng-deep .dx-treeview-node.dx-state-selected, .dx-treeview .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-selected > .dx-treeview-item {
  background-color: #d6e0fb !important;
  }

  ::ng-deep #blueversion .mat-form-field-underline {
    background: #3f51b5;
  }
  ::ng-deep #blueversion .mat-select-arrow {
    color: #3f51b5;
  }

  #bluemat {
    background: white;
  }

  #bluemat:hover {
    background: #d6e0fb;
  }

  #bluemat.mat-active {
    background: #d6e0fb !important;
  }

  #bluemat.mat-selected {
    background: #d6e0fb !important;
    color: black !important;
  }