.div-timeline{
  padding: 0px 42px;
}

.div-vigente {
  color: #3f6ad8;
  font-weight: bold;
  background-color: aliceblue;
  padding: 8px 0px;
  margin-bottom: 8px;
}

.div-asignado {
  color: #3f6ad8;

}