<div *ngIf='idClase' [ngClass]="{'desactivaPantalla': numero == 0 }">
    <mat-spinner *ngIf='numero == 0' class="spinner"></mat-spinner>
    <app-breadcrumbs *ngIf="breadcrumb" [ruta]="breadcrumb"></app-breadcrumbs>

    <mat-card>
        <img class='imagenIconoGris' src="./assets/images/iconos-sisco/Clientes/sh_datosorden.png"> &nbsp;&nbsp;&nbsp;
        <span>Datos de la orden</span>
        <hr>
        <div [formGroup]="ordenForm">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6">
                    <mat-form-field class="inputFullWide">
                        <input matInput maxlength="100" formControlName="descripcion" placeholder="Descripción *">
                        <mat-error>
                            El campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-sm-12 col-md-6 col-xl-6">
                    <mat-form-field class="inputFullWide">
                        <input matInput readonly [matDatepicker]="picker" placeholder="Fecha *" formControlName="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker disabled="false" #picker></mat-datepicker>
                        <mat-error>
                            El campo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xl-12 text-center">
                <button class="mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-primary float-right"
                    (click)='agregarOrden()' [disabled]="!ordenForm.valid"><i class="pe-7s-diskette btn-icon-wrapper">
                    </i>
                    Agregar
                </button>
            </div>
        </div>
        <div *ngIf='!ordenForm.valid'>
            <p class="tagAviso">Los campos con * son obligatorios</p>
        </div>
    </mat-card>

</div>