<mat-spinner *ngIf='spinner' class="spinner"></mat-spinner>
<app-breadcrumbs *ngIf="breadcrumb" [ruta]="breadcrumb"></app-breadcrumbs>
<header-tipoobjeto-automovil [idTipoObjeto]="idTipoObjeto" [idClase]="idClase"></header-tipoobjeto-automovil>
<mat-card class="cardMarginBottom" *ngIf='!spinner'>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-12">
            <div *ngFor="let objeto of modulo.camposClase" style="display: inline;">
                <img *ngIf="objeto.nombre=='LogoCard'" class='imagenIconoGris' [src]="objeto.path">
                <span *ngIf="objeto.nombre=='LogoCard'">&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div *ngFor="let objeto of modulo.camposClase" style="display: inline;">
                <span *ngIf="objeto.nombre=='TituloCard'">{{objeto.label}}</span>
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="columnas.length > 0 && numeroContrato">
        <carga-masiva [columnas]="columnas" [sp]="sp" [urlApi]="urlApi" [parametrosSP]="parametrosSP"
            [idClase]="idClase" (response)="reponse($event)" (responseFileUpload)="responseFileUpload($event)">
        </carga-masiva>
    </div>
</mat-card>