<mat-card class="cardMarginBottom" *ngIf='!spinner'>
    <div class="container-fluid" *ngIf="idClase === 'Automovil'">
        <div class="row">
            <img class='imagenIconoGris' src="./assets/images/iconos-sisco/datos_unidad.png">
            &nbsp;&nbsp;&nbsp;
            <span>Datos del automovil</span>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="row customAvatar">
                    <app-viewer *ngIf="headFoto" [IViewer]="IViewer">
                    </app-viewer>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <div class="row header-border">
                    <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 vertical padd">
                        <div class="row" style="height: 100%; align-items:center;margin-bottom: 5px">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <img class='imagen'
                                    src="../../../assets/images/iconos-sisco/TipoObjeto/partida.sel-partida.vehiculo.png">
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                <span class="letra">&nbsp;&nbsp;{{headAutomovil}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 vertical padd ">
                        <div class="row" style="height: 100%; align-items:center;margin-bottom: 5px">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <img class='imagen'
                                    src="../../../assets/images/iconos-sisco/TipoObjeto/partida.sel-partida.clase.png">
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                <span class="letra">&nbsp;&nbsp;{{headClase}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 vertical padd">
                        <div class="row" style="height: 100%; align-items:center;margin-bottom: 5px">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <img class='imagen'
                                    src="../../../assets/images/iconos-sisco/TipoObjeto/partida.sel-partida.cilindros.png">
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                <span class="letra">&nbsp;&nbsp;{{headCilindros}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 vertical padd">

                        <div class="row" style="height: 100%; align-items:center;margin-bottom: 5px">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                                <img class='imagen'
                                    src="../../../assets/images/iconos-sisco/TipoObjeto/partida.sel-partida.combustible.png">
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                                <span class="letra">&nbsp;&nbsp;{{headCombustible}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" *ngIf="idClase !== 'Automovil'">
        <div class="row">
            <img class='imagenIconoGris' src="./assets/images/objeto-banner/objeto-icono.png">
            &nbsp;&nbsp;&nbsp;
            <span>Datos del artículo</span>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
                <div class="row customAvatar">
                    <app-viewer [IViewer]="IViewer"> </app-viewer>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
                <div class="row header-border">
                    <div style="margin-top: 5px;" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 vertical padd" *ngFor="let tipoObjeto of tipoObjetos">
                        <div class="row">
                            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 sinPadd" style="height: 45px">
                                <img class='imagenBanner' src="../../assets/images/objeto-banner/objeto.png">
                            </div>
                            <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 sinPadd textoAzul"
                                style="height: 45px">
                                <p class="SubtituloBanner">
                                    {{tipoObjeto.propiedad}}
                                </p>
                                <p class="datoBanner">
                                    {{tipoObjeto.valor}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>