<app-navbar></app-navbar>
<div class="center">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Responsive</h5>
                <div class="slick-slider-responsive">
                    <div>
                        <div class="slider-item ">1</div>
                    </div>
                    <div>
                        <div class="slider-item">2</div>
                    </div>
                    <div>
                        <div class="slider-item">3</div>
                    </div>
                    <div>
                        <div class="slider-item">4</div>
                    </div>
                    <div>
                        <div class="slider-item">5</div>
                    </div>
                    <div>
                        <div class="slider-item">6</div>
                    </div>
                    <div>
                        <div class="slider-item">7</div>
                    </div>
                    <div>
                        <div class="slider-item">8</div>
                    </div>
                    <div>
                        <div class="slider-item">9</div>
                    </div>
                    <div>
                        <div class="slider-item">10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

