.center 
    margin-top: 120px

#parque
    background-image: url("../../assets/images/iconos-sisco/parque.png")
    background-repeat: no-repeat
    background-position: center
    
    

#gps
    background-image: url("../../assets/images/iconos-sisco/gps.png")
    background-repeat: no-repeat
    background-position: center

#mantenimiento
    background-image: url("../../assets/images/iconos-sisco/mantenimiento.png")
    background-repeat: no-repeat
    background-position: center

#configurador
    background-image: url("../../assets/images/iconos-sisco/configurador.png")
    background-repeat: no-repeat
    background-position: center

#partidas
    background-image: url("../../assets/images/iconos-sisco/partidas.png")
    background-repeat: no-repeat
    background-position: center

#talleres
    background-image: url("../../assets/images/iconos-sisco/talleres.png")
    background-repeat: no-repeat
    background-position: center
