<app-navbar></app-navbar>
<div class="center">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body"><h5 class="card-title">Panel de Control</h5>
                <div class="slick-slider-responsive">
                    <div>
                        <div id="parque" class="slider-item ">Parque Vehicular</div>
                    </div>
                    <div>
                        <div id="gps" class="slider-item">GPS</div>
                    </div>
                    <div>
                        <div id="mantenimiento" class="slider-item">Mantenimiento</div>
                    </div>
                    <div>
                        <div id="configurador" class="slider-item">Configurador</div>
                    </div>
                    <div>
                        <div id="partidas" class="slider-item">Partidas</div>
                    </div>
                    <div>
                        <div id="talleres" class="slider-item">Talleres</div>
                    </div>
                    <div>
                        <div class="slider-item">7</div>
                    </div>
                    <div>
                        <div class="slider-item">8</div>
                    </div>
                    <div>
                        <div class="slider-item">9</div>
                    </div>
                    <div>
                        <div class="slider-item">10</div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

