.titulo
    position: fixed
    font-size: 25px
    font-weight: bold
    margin-top: 100px
    z-index: 1000
    right: 50px

.bordes
    border-right: 1px solid #DEE7FD
    cursor: pointer
    text-align: center
    width: 170px
    
.notificaciones
    float: right
    margin-right: 5px

.parque
    font-size: 18px
    margin-left: 20px

.parque-img
    height: 80px
    margin-left: 40px

.gps
    font-size: 18px
    margin-left: 50px

.gps-img
    height: 80px
    margin-left: 50px

.mantenimiento
    font-size: 18px
    margin-left: 30px

.mantenimiento-img
    height: 80px
    margin-left: 30px

.configurador
    font-size: 18px
    margin-left: 35px

.configurador-img
    height: 80px
    margin-left: 30px

.partidas
    font-size: 18px
    margin-left: 50px

.partidas-img
    height: 80px
    margin-left: 50px

.talleres
    font-size: 18px
    margin-left: 40px

.talleres-img
    height: 80px
    margin-left: 45px

.clientes
    font-size: 18px
    margin-left: 30px

.clientes-img
    height: 80px
    margin-left: 30px

.grid-titulo
    margin-top: 50px
    font-size: 20px
    font-weight: bold

.grid-centrado
    margin-top: 60px

.grid-parque
    cursor: pointer
    border-right: 1px solid #DEE7FD
    border-bottom: 1px solid #DEE7FD
    text-align: center
    img
        height: 80px

.grid-gps
    cursor: pointer
    border-bottom: 1px solid #DEE7FD
    text-align: center
    img
        height: 70px

.grid-mantenimiento
    cursor: pointer
    border-right: 1px solid #DEE7FD
    border-bottom: 1px solid #DEE7FD
    text-align: center
    img
        height: 70px

.grid-configurador
    cursor: pointer
    border-bottom: 1px solid #DEE7FD
    text-align: center
    img
        height: 70px

.grid-partidas
    cursor: pointer
    border-right: 1px solid #DEE7FD
    border-bottom: 1px solid #DEE7FD
    text-align: center
    img
        height: 70px

.grid-talleres
    cursor: pointer
    border-bottom: 1px solid #DEE7FD
    text-align: center
    img
        height: 70px

.grid-clientes
    cursor: pointer
    border-right: 1px solid #DEE7FD
    text-align: center
    img
        height: 70px

.grid-otro
    cursor: pointer
    text-align: center
    img
        height: 70px