<div [ngClass]="{'desactiva': numero == 0 }">
    <mat-spinner class="spinner" *ngIf='numero == 0 && contratoActual' style="position:fixed;top:50%;left:50%;z-index: 1;"></mat-spinner>
    <app-breadcrumbs *ngIf="breadcrumb" [ruta]="breadcrumb">
    </app-breadcrumbs>
        <mat-card class="cardMarginBottom" *ngIf='numero== 1'>
            <div class="col-sm-12 col-md-12 col-xl-12">
                <img class='imagenIconoGris' src="{{logo}}"> &nbsp;&nbsp;&nbsp;
                <span>{{titleClase}}</span>
            </div>
            <hr>
                <app-grid-component [datos]="tipoObjetos" [gridOptions]="gridOptions"
                    [columns]="columns" [Checkbox]="Checkbox" [Editing]="Editing" [exportExcel]="exportExcel"
                    [searchPanel]="searchPanel" [scroll]="scroll" (messageEvent)="receiveMessage($event)"
                    (datosevent)='DatosMessage($event)' [toolbar]="toolbar">
                </app-grid-component>
        </mat-card>
</div>