<div class="app-main__inner">
    <mat-spinner *ngIf='numero == 0' style="position:fixed;top:50%;left:50%;z-index: 1;"></mat-spinner>
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon clientes"></div>
                <div>
                    <a [routerLink]='["/ventas"]'><img class='imagen' src="../../assets/home.png" alt=""></a> / <a [routerLink]="['/sel-clientes']" class="colorRuta">Clientes</a> / <i class="colorRuta2">Editar Cliente</i> </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [ngClass]="{'desactiva': numero == 0 }">
        <mat-card class='cardMargin'>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <img class='imagen' src="../../assets/images/iconos-sisco/clietne_icon.png"> &nbsp;&nbsp;&nbsp;
                    <span>Datos del Cliente</span>
                </div>
            </div>
            <hr>
            <div [formGroup]="clienteForm">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <mat-form-field class="all">
                            <input matInput formControlName="nombre" value="{{cliente?.nombre}}" placeholder="Nombre Cliente *">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12 text-center">
                        <button class="mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-primary float-right" (click)='actualizaCliente()' [disabled]="!clienteForm.valid">
              <i class="pe-7s-diskette btn-icon-wrapper">
              </i>
              Modificar
            </button>
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card class="cardMargin">
            <div class="row cardMargin">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <img class='imagen' src="../../assets/images/iconos-sisco/lapizIcon.png"> &nbsp;&nbsp;&nbsp;
                        <span>Datos Fiscales</span>
                    </div>
                </div>
            </div>
            <app-grid-component [datos]="cienteEntidad" [gridOptions]="gridOptions" [columns]="columns" [exportExcel]="exportExcel" (datosevent)='datosMessage($event)' [searchPanel]="searchPanel" [scroll]="scroll" (messageEvent)="receiveMessage($event)" [toolbar]="toolbar">
            </app-grid-component>
        </mat-card>

        <mat-card>
            <div class="row cardMargin">
                <div class="col-sm-12 col-md-12 col-xl-12">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <img class='imagen' src="../../assets/images/iconos-sisco/lapizIcon.png"> &nbsp;&nbsp;&nbsp;
                        <span>Documentos</span>
                    </div>
                </div>
            </div>
            <app-grid-component [datos]="documentos" [gridOptions]="gridOptions" [columns]="columDoc" [exportExcel]="exportExcel" [searchPanel]="searchPanel" [scroll]="scroll" (messageEvent)="receiveMessageDoc($event)" [toolbar]="toolbarDoc">
            </app-grid-component>
        </mat-card>
    </div>
</div>