.card-bottom-line-purple{
    border-bottom: 3px solid #794c8a;
}

.card-bottom-line-cyan{
    border-bottom: 3px solid #18a9ff;
}

.card-bottom-line-orange{
    border-bottom: 3px solid #fd7e14;
}

.card-bottom-line-red{
    border-bottom: 3px solid #d92550;
}

.card-bottom-line-blue{
    border-bottom: 3px solid #1e67ea;
}

ul {
    margin-left: 30px;
}