<mat-spinner *ngIf='spinner' class="spinner"></mat-spinner>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active ng-star-inserted" aria-labelledby="ngb-tab-6" id="ngb-tab-6-panel"
        aria-expanded="true" style>
        <div class="row ng-star-inserted">
            <div class="col-md-3">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <img class='imagenIconoGris'
                            src="./assets/images/iconos-sisco/Reportes/reportes.home-reporte.icon-solicitudes.png">
                        &nbsp;&nbsp;&nbsp;
                        Full Service
                    </div>
                    <div class="card-body card-bottom-line-blue">
                        <ul>
                            <li><a routerLink="/sel-reporte-integra-autoexpress">Reporte integra autoexpress</a></li>
                            <!-- <li><a href="#">Ir a link.com</a></li>
                                        <li><a href="#">Ir a link.com</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <img class='imagenIconoGris'
                            src="./assets/images/iconos-sisco/Reportes/reportes.home-reporte.icon-solicitudes.png">
                        &nbsp;&nbsp;&nbsp;
                        Solicitudes
                    </div>
                    <div class="card-body card-bottom-line-purple">
                        <ul>
                            <li><a routerLink="/sel-solicitud-reporte">Reporte de solicitudes</a></li>
                            <!-- <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <img class='imagenIconoGris'
                            src="./assets/images/iconos-sisco/Reportes/reportes.home-reporte.icon-partidas.png">
                        &nbsp;&nbsp;&nbsp;
                        Partidas
                    </div>
                    <div class="card-body card-bottom-line-cyan">
                        <ul>
                            <li><a routerLink="/sel-partida-reporte">Reporte de partidas</a></li>
                            <!-- <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <img class='imagenIconoGris'
                            src="./assets/images/iconos-sisco/Reportes/reportes.home-reporte.icon-cliente.png">
                        &nbsp;&nbsp;&nbsp;
                        Clientes
                    </div>
                    <div class="card-body card-bottom-line-orange">
                        <ul>
                            <!-- <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <img class='imagenIconoGris'
                            src="./assets/images/iconos-sisco/Reportes/reportes.home-reporte.icon-proveedor.png">
                        &nbsp;&nbsp;&nbsp;
                        Proveedores
                    </div>
                    <div class="card-body card-bottom-line-red">
                        <ul>
                            <!-- <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li>
                            <li><a href="#">Ir a link.com</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <img class='imagenIconoGris'
                            src="./assets/images/iconos-sisco/Reportes/reportes.home-reporte.icon-partidas.png">
                        &nbsp;&nbsp;&nbsp;
                        Objetos
                    </div>
                    <div class="card-body card-bottom-line-cyan">
                        <ul>
                            <li><a routerLink="/sel-reporte-control-documental">Reporte de control documental</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>