<div [ngClass]="{'desactivaPantalla': numero == 0 }">
    <mat-spinner *ngIf='numero == 0' class="spinner"></mat-spinner>
    <div class='row'>
        <h2>&nbsp;&nbsp;¿Seguro qué quiere eliminar los registros?</h2>
    </div>
    <br>
    <div class="float-right">
        <button class='mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-danger' (click)='eliminar()'>Eliminar</button>
        <button class="mb-2 mr-2 btn-square border-0 btn-transition btn btn-outline-primary" (click)='cancelar()'>Cancelar</button>
    </div>
</div>