<div >
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <h5 class="card-title">Dashboard Gastos</h5>
                <button routerLink="/sel-gestoria" class="mb-2 mr-2 btn btn-outline-2x btn-outline-primary">Gestorías</button>
                <button routerLink="/ins-gasto" class="mb-2 mr-2 btn btn-outline-2x btn-outline-secondary">Configuración de Costos</button>
                <button routerLink="/sel-agrupador-tipoobjeto" class="mb-2 mr-2 btn btn-outline-2x btn-outline-success">Agrupación Tipos de Objeto</button>
            </div>
        </div>
    </div>
</div>