.mat-button-toggle-checked{
    background-color: #3f6ad8;
    color: #fff !important;
  }

.mat-button-toggle-appearance-standard{
  color: #3f6ad8;
}

.main td
{
  border: 1px solid #0a9fe6;
  padding: 15px;
}

.prices-color{
  color: #3F6AD8;
}