<div>
  <!--En caso de no mandar la prioridadd por parametros habilitar [columnHidingEnabled]="true" dentro de dx-data.grid-->
  <dx-data-grid #grid   id="gridContainer" [dataSource]="datos" [showBorders]="true" [columnAutoWidth]="true" [showRowLines]="true" [showColumnLines]="true"
    [remoteOperations]="remoteOperations"  (onToolbarPreparing)="onToolbarPreparing($event)"  
    (onSelectionChanged)="onSelectionChanged($event)" (onContentReady)="onContentReady($event)">

    <!-- -------------------- CHECKBOX ------------------------------------------>
    <dxo-selection mode="multiple"></dxo-selection>

    <!-- -------------------- SELECCIONADOR DE COLUMNAS ------------------------------------------>
    <dxo-column-chooser [enabled]="true" mode="select" ></dxo-column-chooser>


    <!-- -------------------- PAGINACION ------------------------------------------>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="gridOptions.pageSize" [showInfo]="true"></dxo-pager>
    <dxo-paging [pageSize]="gridOptions.paginacion"></dxo-paging>

    <!-- -------------------- FILTROS ------------------------------------------>

    <!-- <dxo-search-panel [visible]="searchPanel.visible" [width]="searchPanel.width" [placeholder]="searchPanel.placeholder"></dxo-search-panel> -->
    <dxo-header-filter [visible]="true" [allowSearch]="true" ></dxo-header-filter>
    <dxo-filter-row [visible]="searchPanel.filterRow"></dxo-filter-row>
    <dxo-filter-panel [visible]="true"></dxo-filter-panel>

    <!-- -------------------- SCROLL ------------------------------------------>

    <dxo-scrolling [mode]="scroll.mode" [rowRenderingMode]="scroll.mode"></dxo-scrolling>
    <dxo-scrolling [columnRenderingMode]="scroll.mode"></dxo-scrolling>

    <!-- -------------------- EXPORT ------------------------------------------>

    <dxo-export [fileName]="exportExcel.fileName" [enabled]="exportExcel.enabled" [customizeExcelCell]="customizeExcelCell"></dxo-export>

    <!-- -------------------- COLUMNAS ------------------------------------------>
    
    <dxi-column *ngFor="let column of columns" [dataField]="column.dataField" [caption]="column.caption" [width]="column.width"
      [groupIndex]="column.groupIndex" [cellTemplate]="column.cellTemplate" [hidingPriority]="column.hiddingPriority">
    </dxi-column>

    <!-- -------------------- TEMPLATE FOTO ------------------------------------------>

    <div *dxTemplate="let data of 'foto'" class="foto">
      <img id="myImg" class="foto-ad" [src]="data.value" (click)="open(content)"/>
      <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img style="width: 100%;" [src]="data.value">
          </div>
      </ng-template>
    </div>

    <!-- -------------------- TEMPLATE TOTAL DE REGISTROS ------------------------------------------>
    <div class="totalcolor" *dxTemplate="let data of 'Totalderegistros'">
        <div class="informer">
            <h2 class="totalcount">{{datos.length}}</h2>
            <span class="name">Registros</span>
        </div>
    </div>

    <!-- -------------------- TEMPLATE REGISTROS SELECCIONADOS ------------------------------------------>
    <div class="countcolor" *dxTemplate="let data of 'Contarseleccionados'">
        <div class="informer">
            <h2 class="countcount">{{contador}}</h2>
            <span class="countname">Seleccionados</span>
        </div>
    </div>

    <dxo-group-panel [visible]="true" *ngIf="columns.groupIndex"></dxo-group-panel>
    <dxo-grouping #expand [autoExpandAll]="true" *ngIf="columns.groupIndex"></dxo-grouping>
  </dx-data-grid>
</div>
