.detalle-factura{
    border-top-color: #EBECED;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-color: #EBECED;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: #676060;
}

span.dato-factura {
    font-size: 1.3em
}

.color1{
    padding: 15px 8px 0px 8px;
    background-color: #EBECED;
        font-weight: 500;
        border-right-width: 2px;
        border-right-style: solid;
        border-right-color: white;
}

.label-detalle-factura {
    font-weight: 600;
    font-size: .9em;
}