<div class="app-main__inner">
    <mat-spinner *ngIf='numero == 0' style="position:fixed;top:50%;left:50%;z-index: 1;"></mat-spinner>

    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon clientes"></div>
                <div>Clientes</div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- <div *ngIf='idCliente > 0' [formGroup]="clienteEntidadForm"> -->
        <div [formGroup]="clienteEntidadForm">
            <mat-card class='cardMargin' [ngClass]="{'desactiva': numero == 0 }">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <img class='imagen' src="../../assets/images/iconos-sisco/clietne_icon.png"> &nbsp;&nbsp;&nbsp;
                        <span>Datos del Cliente</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <mat-form-field class="all">
                            <input matInput placeholder="Nombre Cliente *" formControlName="nombre" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>

            <mat-card [ngClass]="{'desactiva': numero == 0 }">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        <div class="col-sm-12 col-md-12 col-xl-12">
                            <img class='imagen' src="../../assets/images/iconos-sisco/lapizIcon.png"> &nbsp;&nbsp;&nbsp;
                            <span>Datos Fiscales</span>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class='col-sm-12 col-md-4 col-xl-4 text-center'>
                        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="tipoPersona">
                            <mat-button-toggle value="1" class='all'> Física </mat-button-toggle>
                            <mat-button-toggle value="4" class='all'> Moral </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                    <div class="col-sm-12 col-md-8 col-xl-8">
                        <mat-form-field class="all">
                            <input matInput placeholder="Nombre Comercial *" formControlName="nombreComercial" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-xl-8">
                        <mat-form-field class="all">
                            <input matInput placeholder="Razón Social *" formControlName="razonSocial" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xl-4">
                        <mat-form-field class="all">
                            <input matInput placeholder="RFC Cliente *" formControlName="rfcCliente" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong> 13 Caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-8 col-xl-8">
                        <mat-form-field class="all">
                            <input matInput placeholder="Persona Contacto" formControlName='personaContacto'>
                        </mat-form-field>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input matInput placeholder="Teléfono" formControlName='telefono'>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input matInput placeholder="Correo Electronico *" formControlName='email'>
                            <mat-error>
                                Por favor, da un correo Valido
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input #cp matInput placeholder="Código Postal *" (focusout)="getCp()" (keydown)="onKeydown($event)" formControlName="cp" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong> 5 Caracteres
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input matInput placeholder="Estado *" formControlName="estado" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input #municipio matInput placeholder="Município *" formControlName="municipio" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class='row'>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <mat-select placeholder="Tipo Asentamiento *" formControlName="tipoAsentamiento" [errorStateMatcher]="matcher">
                                <mat-option *ngFor='let tipoAsentamiento of tipoAsentamientos' [value]="tipoAsentamiento.idTipoAsentamiento">
                                    {{tipoAsentamiento.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input matInput placeholder="Asentameinto *" formControlName="asentamiento" [matAutocomplete]="auto" [errorStateMatcher]="matcher">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let asentamiento of asentamientos" [value]="asentamiento.nombreAsentamiento">
                                    {{asentamiento.nombreAsentamiento}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-12 col-md-6 col-xl-6'>
                        <mat-form-field class="all">
                            <mat-select placeholder="Tipo Vialidad *" formControlName="tipoVialidad" [errorStateMatcher]="matcher">
                                <mat-option *ngFor='let tipoVialidad of tipoVialidades' [value]="tipoVialidad.idTipoVialidad">
                                    {{tipoVialidad.nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class='col-sm-12 col-md-6 col-xl-6'>
                        <mat-form-field class="all">
                            <input matInput placeholder="Vialidad *" formControlName="vialidad" [errorStateMatcher]="matcher">
                            <mat-error>
                                El campo es <strong>requerido</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input matInput placeholder="No. Ext / Mz. Lt." formControlName='numeroExterior'>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-6">
                        <mat-form-field class="all">
                            <input matInput placeholder="No. Int" formControlName='numeroInterior'>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12 text-center">
                        <button class="btn-wide mb-2 mr-2 btn-icon btn-icon-right btn-shadow btn-pill btn 
                            btn-outline-primary" (click)='agregarClienteEntidad()' [disabled]="!clienteEntidadForm.valid">Agregar<i class="pe-7s-diskette btn-icon-wrapper">
                            </i></button>
                    </div>
                </div>
                <p class='message'>Los campos con * son obligatórios</p>
            </mat-card>
        </div>

    </div>
</div>