// .boton
//     width: 10%
//     height: 40px
//     border-radius: 43px 43px 43px 43px
//     -moz-border-radius: 43px 43px 43px 43px
//     -webkit-border-radius: 43px 43px 43px 43px

#margenTop
    margin-top: 10px

.all
    width: 100%

.card
    width: 800px

.title
    margin-bottom: 15px
    font-size: 20px
    @media (min-width: 576px) 
        width: 540px !important
    @media (min-width: 768px) 
        width: 720px !important
    @media (min-width: 992px) 
        width: 960px !important
    @media (min-width: 1200px) 
        width: 1140px !important
    @media (min-width: 1400px) 
        width: 1340px !important
    @media (min-width: 1600px) 
        width: 1540px !important
    @media (min-width: 1800px) 
        width: 1740px !important

.tog
    padding-bottom: 10px   

.desactiva
    pointer-events: none
    opacity: 0.4

.message
    font-size: 15px
    color: gray
