// .boton
//     width: 10%
//     height: 40px
//     border-radius: 43px 43px 43px 43px;
//     -moz-border-radius: 43px 43px 43px 43px;
//     -webkit-border-radius: 43px 43px 43px 43px;

#margenTop
    margin-top: 10px

.all
    width: 100%

.card
    width: 800px

.title
    margin-bottom: 15px;
    font-size: 20px

.tog
    padding-bottom: 10px   