#margenTop
    margin-top: 10px

.all
    width: 100%

.card
    width: 800px

.cardMargin
    margin-bottom: 20px

.imagen
    width: 6%

.tog
    padding-bottom: 10px   

.desactiva
    pointer-events: none
    opacity: 0.4

.clientes
    background-image: url("../../assets/images/iconos-sisco/clientes.png")
    background-repeat: no-repeat
    background-position: center
    background-color: white
    background-size: 45px 40px
.message
    font-size: 15px
    color: gray
