<div class="app-main__outer">
  <div class="app-main__inner">
    <div class="col-sm-12 col-md-12 col-xl-12">
      <div class="xx">
        <mat-card>
          REGISTRO CLIENTE
          <div class="row">
            <div class="col-8">
              <label>Nombre del Cliente</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-4">
              <label>RFC Empresa</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <hr>
          REGISTRO RAZÓN SOCIAL
          <br><br>
          <div class="row">
            <div class="col-8">
              <label>Razón Social</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-4">
              <label>RFC Cliente</label>
              <input type="text" class="form-control">
            </div>

            <div class="col-12">
              <label>Nombre Comercial</label>
              <div class="row">
                <div class="col-8">
                  <input type="text" class="form-control">
                </div>
                <div class="col-2">
                  <input type="radio" name="tipo" value="Física"> Física
                </div>
                <div class="col-2">
                  <input type="radio" name="tipo" value="Moral"> Moral
                </div>
              </div>
            </div>

            <div class="col-8">
              <label>Persona Contacto</label>
              <input type="text" class="form-control">
            </div>

            <div class="col-6">
              <label>Teléfono</label>
              <input type="text" class="col-6" class="form-control">
            </div>
            <div class="col-6">
              <label>Correo Electronico</label>
              <input type="text" class="form-control">
            </div>

            <div class="col-6">
              <label>Calle</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <label>No. Int.</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-3">
              <label>No. Ext.</label>
              <input type="text" class="form-control">
            </div>
            <div class="col-12">
              Selecciona
              <div class="row">
                <div class="col-6">
                  <select name="" id="" class="form-control">
                    <option value="Estado" disabled selected>Estado</option>
                  </select>
                </div>
                <div class="col-6">
                  <select name="" id="" class="form-control">
                    <option value="Ciudad" disabled selected>Ciudad</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12 text-center">
                <button class="mb-2 mr-2 btn btn-outline-2x btn-outline-primary">Primary</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>